<tr id="album_box">
  <td>
    <div id="album_art">
      <%= image_tag album_art_path(@album), class:"album_art" %>
    </div>
  </td>
  <td>
    <div id="album_details">
      <p><%=@album.name%> - <%=@album.tracks.first.artist.name%></p>
    </div>
    <table id="album_tracks">
      <%= render @album.tracks %>
    </table>
  </td>
</tr>
