<div id="left_bar">
  <div id="logo_bar">
    <h4>TuneZombie!</h4>
  </div>
  <div id ="left_menu_wrapper" class="menu_wrapper">
    <ul id="left_menu" class="menu">
      <li class="active"><a href="#">Albums</a></li>
      <li><a href="#">Artists</a></li>
      <li><a href="#">Genres</a></li>
    </ul>
    <input type="text" id="left_search">
  </div>

  <div class="album">Album</div>
  <div class="album">Album</div>
  <div class="album">Album</div>
  <div class="album">Album</div>
  <div class="album">Album</div>
  <div class="album">Album</div>
  <div class="album">Album</div>
  <div class="album">Album</div>
  <div class="album">Album</div>
  <div class="album">Album</div>
  <div class="album">Album</div>

</div>

<div id="right_box">
  <div id="menu_bar">
    <h4>MENU BAR : GLOBAL SEARCH : WHATEVER</h4>
  </div>

  <p>
    Stuff. Stuff. Stuff.
  </p>
  <p>
    Stuff. Stuff. Stuff.
  </p>
  <p>
    Stuff. Stuff. Stuff.
  </p>
  <p>
    Stuff. Stuff. Stuff.
  </p>
  <p>
    Stuff. Stuff. Stuff.
  </p>
</div>

<div id="player">
  PLAYER WIDGET GOES HERE
</div>

