<div class="container-fluid">
  <div class="row-fluid">
    <div id='logo' class="span3">
      <h4 class='pagetitle'>TuneZombie!</h4>
    </div>
    <div class="span9">
      <h4>MENU BAR : GLOBAL SEARCH : WHATEVER</h4>
    </div>
  </div>

  <div class="row-fluid">
    <div id="left_bar" class="span3">

      <div id='search_box'>
        <table class="table">
          <tr>
            <td>
              <select name="search">
                <option>Album</option>
                <option>Artist</option>
                <option>Track</option>
              </select>
            </td>
            <td>
              <input type="text" size="50" id="left_search">
            </td>
            <td>
              <button id="run_search">Search</button>
            </td>
          </tr>
        </table>
      </div>

      <table id="left_item_list">
        <%= render @albums %>
      </table>
    </div>
    <div id="right_box" class="span9">
      <table id="track_list">
        <thead>
          <tr>
            <td>#</td>
            <td>Name</td>
            <td>Rating</td>
            <td><span class="tooltip" title="Play Count">PC</span></td>
          </tr>
        </thead>
      </table>
    </div>
  </div>

  <div class="row-fluid">
    <div id="player" class="span3">
      PLAYER WIDGET GOES HERE
    </div>
    <div class="span9"></div>
  </div>

</div>

