<div id="app">
  <div id="app-header" class="navbar ui-layout-north">
  <div class="container navbar-inner">
      <div id="logo" class="brand"><img src="assets/logo.png"/></div>

      <div id="player">
        <%= render partial: "music/player" %>
      </div>

      <form id ="search" class="navbar-search pull-right">
        <input type="text" class="search-query" placeholder="Search">
      </form>
  </div>
</div>
  <div id="app-left" class="ui-layout-west">
    <table id="left_item_list">
      <%= render @albums %>
    </table>
  </div>

  <div id="app-content" class="ui-layout-center">
    <%= render partial: "albums/album_box", collection: @albums, :as => :album %>
  </div>
</div>
