
<div id="left_bar">
    <h4 class='pagetitle'>TuneZombie!</h4>
	<div id='search_box'>
    <h6 id='search_txt'>Search:</h6>
    <input type="text" id="left_search">
	<div id='search_checks'>
	<input type='checkbox' name='search_album' value='should_search_album' checked>Album</input>
	<input type='checkbox' name='search_title' value='should_search_title' checked>Title</input>
	<input type='checkbox' name='search_artist' value='should_search_artist' checked>Artist</input>
	<input type='checkbox' name='search_genre' value='should_search_genre' checked>Genre</input>
	</div>
	</div>
  <table id="left_item_list">
    <%= render @albums %>
  </table>

</div>

<div id="right_box">
 <!-- <div id="menu_bar"> -->
    <h4>MENU BAR : GLOBAL SEARCH : WHATEVER</h4>
<!--  </div> -->

  <div id="content_box"></div>

</div>

<div id="player">
  PLAYER WIDGET GOES HERE
</div>

