

#logo_bar
  height: 25px

#menu_bar
  height: 25px



#left_search
  margin: 8px 0px 8px 8px

/* Elements of the search widget, currently located screen left */



#search_checks
  padding: 6px
  font-size: 12px

#search_txt
  margin-left: 8px

// End search widget


