/* left album menu params */
$menu_surround: #101010
$menu_border: 5px
$menu_radius: 4px

/* search box params */
$searchbox_border: 5px
$searchbox_margin: 1px 0px 1px 0px
$searchbox_color: #555

$container: #646464

@mixin unselectable
  -moz-user-select: -moz-none
  -khtml-user-select: none
  -webkit-user-select: none
  user-select: none

#search_box
  margin: $searchbox_margin
  background: $searchbox_color
  border-style: solid
  border-width: $searchbox_border
  border-color: $menu_surround
  -moz-border-radius: $menu_radius
  border-radius: $menu_radius

#header-container
  background-color: $container
  height: 60px
  width: 95%
  margin-top: 4px
  margin-bottom: 4px
  vertical-align: center

#logo
  padding: 10px 30px

#search
  padding: 10px 12px

.album_box
  width: 95%

.album-box-grid
  list-style: none
  margin: 0 auto
  text-align: center
  width: 100%
  li
    display: inline-block
    padding: 0 10px
    vertical-align: top
    height: 210px
    width: 150px
    a, img
      display: block
      position: relative
  li.ab-expanded > a::after
    top: auto
    border: solid transparent
    content: " "
    height: 0
    width: 0
    position: absolute
    pointer-events: none
    border-bottom-color: #ddd
    border-width: 15px
    left: 50%
    margin: 30px 0 0 -10px

.album-box-details
  color: white
  font-size: 10pt
  padding: 5px 5px
  font-weight: bold
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  width: 150px

.album-box-details-artist
  color: #BBD9EE
  font-size: 8pt

.album-box-details-name
  color: #EBF4FA

.album-art
  width: 150px
  height: 150px
  border-style: solid
  border-width: 5px
  border-color: #101010
  border-radius: 4px

#track-list-expando
  position: absolute
  background: #ddd
  top: auto
  left: 0
  width: 100%
  margin-top: 10px
  text-align: left
  height: 0
  overflow: hidden

#track-list-expando-inner
  padding: 50px 30px
  height: 100%

#track-list-close
  position: absolute
  width: 40px
  height: 40px
  top: 20px
  left: 20px
  cursor: pointer

.album_box_art
  float: left
  width: 120px

.album-box-wrapper
  vertical-align: top
  width: 100%
  
.album-box-wrapper-cell
  vertical-align: top
  height: 150px

.album_block_tracks
  @include unselectable
  border-collapse: collapse
  border: none
  tr
    font-size: 10pt
    color: white
    background-color: #666
    td
      padding: 5px
  tr:nth-child(odd)
    background-color: #555

.item-list
  @include unselectable
  margin: 0px
  li
    background-color: #666
    font-size: 10pt
    white-space: nowrap
    color: white
    list-style-type: none
  li:nth-child(odd)
    background-color: #555

.row_selected
  background-color: #003366

.row_playing
  background-color: #444 !important
  color: #7fffd4 !important

.track_num
  width: 2em
  text-align: right

.track_name
  width: 35em

.track_time
  width: 5em

.track_rating
  width: 75px


html, body
  height: 100%
  margin: 0
  overflow: hidden
  padding: 0

#app
  height: 100%
  min-width: 1000px

#app-header
  overflow: hidden
  height: 60px
  background-color: #888
  -moz-border-radius: 2px
  border-radius: 2px

#app-left
  background-color: #777

#app-content
  @include unselectable
  background-color: #777
  padding: 2px

#username
  margin-top: 10px

#player-title-bar
  background-color: #444
  border-bottom-right-radius: 6px
  border-bottom-left-radius: 6px
  font-size: .5em
  color: white
