/* left album menu params */
$menu_surround: #101010
$menu_border: 5px
$menu_radius: 4px

/* search box params */
$searchbox_border: 5px
$searchbox_margin: 1px 0px 1px 0px
$searchbox_color: #555

$container: #646464

@mixin unselectable
  -moz-user-select: -moz-none
  -khtml-user-select: none
  -webkit-user-select: none
  user-select: none

#search_box
  margin: $searchbox_margin
  background: $searchbox_color
  border-style: solid
  border-width: $searchbox_border
  border-color: $menu_surround
  -moz-border-radius: $menu_radius
  border-radius: $menu_radius

#header-container
  background-color: $container
  height: 60px
  width: 95%
  margin-top: 4px
  margin-bottom: 4px
  vertical-align: center

#logo
  padding: 10px 30px

#search
  padding: 10px 12px

.album_box
  width: 95%

.album-box-details-artist
  color: #BBD9EE
  font-size: 10pt
  margin-left: 0.5em

.album-box-details-name
  color: #EBF4FA

.album_art
  width: 150px
  border-style: solid
  border-width: 5px
  border-color: #101010
  border-radius: 4px
  margin-top: 40px

.album_box_art
  float: left
  width: 120px

.album-box-wrapper
  vertical-align: top
  width: 100%
  
.album-box-wrapper-cell
  vertical-align: top
  height: 150px


.album_block_tracks
  @include unselectable
  border-collapse: collapse
  border: none
  tr
    font-size: 10pt
    color: white
    background-color: #666
    td
      padding: 5px
  tr:nth-child(odd)
    background-color: #555

.album_box_details
  color: white
  font-size: 12pt
  font-weight: bold
  padding: 10px

.item-list
  @include unselectable
  margin: 0px
  li
    background-color: #666
    font-size: 10pt
    white-space: nowrap
    color: white
    list-style-type: none
  li:nth-child(odd)
    background-color: #555

.track-list-item


.row_selected
  background-color: #003366

.row_playing
  background-color: #444 !important
  color: #7fffd4 !important

.track_num
  width: 2em
  text-align: right

.track_name
  width: 35em

.track_time
  width: 5em

.track_rating
  width: 75px


html, body
  height: 100%
  margin: 0
  overflow: hidden
  padding: 0

#app
  height: 100%
  min-width: 1000px

#app-header
  overflow: hidden
  height: 60px
  background-color: #888
  -moz-border-radius: 2px
  border-radius: 2px

#app-left
  background-color: #777

#app-content
  @include unselectable
  background-color: #777
  padding: 2px

#username
  margin-top: 10px

#player-title-bar
  background-color: #444
  border-bottom-right-radius: 6px
  border-bottom-left-radius: 6px
  font-size: .5em
  color: white
